@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

.divbox{
	position: relative;
	width: auto; 
}

/*clickdiv1*/

.addbox{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 25px 30px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
    
}
.addbox .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  background: linear-gradient(-135deg, rgba(113, 183, 230, 0.5), rgba(156, 89, 182, 0.5)) ;

}

.addcontent form .user-details{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 12px 0;
}





@media(max-width: 584px){
 .addbox{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .addcontent form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .addbox .addcontent .category{
    flex-direction: column;
  }
}

table {
  border: 1px solid #bdc3c7;
  text-align: left; 
  width: 100%; 
}

th,
td {
  padding: 3px;
  border: 1px solid black;
 
}

th{ 
  font-weight:500;
  font-size: 15px;
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}



select{
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background:linear-gradient(-135deg, #71b7e6, #9b59b6) ;
}

tr:hover{
  background: #bdc3c7;
}


#tone,
#ttwo,
#tfour{
	position: absolute;
}

#ttwo,
#tfour{
	display: none;
}

#sone,
#stwo,
#sfour{
  position: absolute;
}


#stwo,
#sfour{
  display: none;
  position: absolute;
}