@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  background: #fdfdfd;
  color: #000000;
  margin 0;
  
}

a{
   color: #000000;
}


.navbar{
  background: #1ABC9C;
  width: 99%;
  height: 70px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 10px 10px;
  z-index: 5;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
}

.navbar .navbar_left .logo a{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
    
}

.navbar .navbar_right{
   display: flex;
    
}

.navbar .navbar_right img{
  width: 35px;
  border-radius: 50%;
   
}

.navbar .navbar_right .icon_wrap{
  cursor: pointer;
   

}

.navbar .navbar_right .notifications{
  margin-right: 25px;
   
}

.navbar .navbar_right .notifications .icon_wrap{
  font-size: 28px;
   
}

.navbar .navbar_right .profile,
.navbar .navbar_right .notifications{
  position: relative;
   
}



.navbar .profile .profile_dd,
.notification_dd{
  position: absolute;
  z-index: 5;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  height: auto;
  width: 500px;
  display: none;
  border-radius: 3px;
   
  box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
              -10px -10px 35px rgba(0,0,0,0.125);
}


.navbar .profile .profile_dd:before,
.notification_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
     
}


.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
     
}

.notification_dd li .notify_icon{
  display: flex;
   
}



.notification_dd li.baskin_robbins .notify_icon .icon{
  background-position: 0 -43px;
   
}

.notification_dd li.mcd .notify_icon .icon{
  background-position: 0 -86px;
   
}

.notification_dd li.pizzahut .notify_icon .icon{
  background-position: 0 -129px;
   
}

.notification_dd li.kfc .notify_icon .icon{
  background-position: 0 -178px;
   
}

.notification_dd li .notify_data{
  margin: 0 15px;
  width: 185px;
   
}

.notification_dd li .notify_data .title{
  color: #000;
  font-weight: 200;
   
}




.notification_dd li.show_all{
  padding: 20px;
  display: flex;
  justify-content: center;
   
}

.notification_dd li.show_all p{
  font-weight: 700;
  color: #247721;
  cursor: pointer;
   
}

.notification_dd li.show_all p:hover{
  text-decoration: underline;
   
}

.navbar .navbar_right .profile .icon_wrap{
  display: flex;
  align-items: center;
   
}

.navbar .navbar_right .profile .number{
  display: inline-block;
  margin: 0 10px;
  font-weight: 600;
   
}

.navbar .navbar_right .profile .name{
  display: inline-block;
   
  
  font-weight: 200;
}

.navbar .navbar_right .icon_wrap:hover,
.navbar .navbar_right .profile.active .icon_wrap,
.navbar .navbar_right .notifications.active {
  color: #0b1f00;
   
}
 


.navbar .profile .profile_dd{
  width: 225px;
   
}
.navbar .profile .profile_dd:before{
  right: 10px;
   
}

.navbar .profile .profile_dd ul li {
    border-bottom: 1px solid #f1f2f4;
     
}

.navbar .profile .profile_dd ul li  a{
    display: block;
    padding: 15px 35px;
    position: relative;
     
}



.navbar .profile .profile_dd ul li  a:hover{
  color: black;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
   
}

.navbar .profile .profile_dd ul li.profile_li a:hover {
    background: transparent;
    cursor: pointer;
    color: inherit;
     
}

.navbar .profile .profile_dd ul li .btn{
    height: 32px;
    padding: 7px 10px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    background: #247721;
    width: 125px;
    margin: 5px auto 15px;
     
}

.navbar .profile .profile_dd ul li .btn:hover{
  background: #000000;
   
}

.navbar .profile.active .profile_dd,
.navbar .notifications.active .notification_dd{
  display: block;
   
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease;
    display: none;
     
    
    

}

.popup .shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
     
}

.popup .inner_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: auto;
    z-index: 4; 
}

.popup .notification_dd{
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
  
   
}

.popup .notification_dd:before{
   display: none;
    
}

.popup .notification_dd li.title{
  font-weight: 700;
  color:  #247721;
  display: flex;
  justify-content: center;
  position: relative;
   
}

.popup .notification_dd li.title .close{
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
   
}

.popup .notification_dd li.title .close:hover{
  opacity: 0.5;
   
}


/*semester select*/

.table-contents{
  display: inline;
}

:focus {
    outline: none; 
}

  
.select-control {
    z-index: 5;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-left: 10px;
    margin-top: 50px;
  
    
    background-color:#16a085;
    font-family: 'Ubuntu', sans-serif;
}
.select-control::-webkit-input-placeholder {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: inherit;
}
     


#semester {
  position: relative;
  left: 26.3%;
  
  width: auto;
  height: 30px;
  font-size: 1.17em;
  font-weight: bolder;
  cursor: pointer;
  padding-left: 10px; 
  color: rgb(255, 255, 255);
  font-family: inherit;
  
  border: 1px solid #bdc3c7;
  box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.5);
  font-family: 'Ubuntu', sans-serif;
}

#semester:hover{
    
    transform: scale(1.02);
    
  
}

select option[value=""][disabled] {
      display: none;
      
       
}
   



  
 
  
   


  




/*table*/


table {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
  width: 800px;
  height: 200px;
  border: 1px solid #bdc3c7;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
  
}

tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#header {
  background-color: #16a085;
  color: #fff;
}

h1 {

  overflow: visible;
  width: 99%;
  height: 50px;
  white-space: nowrap;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: rgba(0,0,0,1);
  border-radius: 10px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #1ABC9C;
  font-family: 'Ubuntu', sans-serif;
  margin: 10px 10px;
  margin-bottom: 150px;
  padding: 2px;
  z-index: 5;
}

tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  table {
      width: 90%;
  }
}


/*css waves*/


.header {
  position:relative;
  text-align:center;
  background: linear-gradient(-60deg, rgba(14, 212, 96, 1) 0%, rgba(26, 188, 156, 1) 100%);
  color:white;
  top: -170px ;
  width: 99%;
  height: 700px;
  margin-left: 10px;
  border-radius: 10px;
  
  
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}